/* constantes de diseño */
:root{
    --colorfooter:#000;
    --fuente:'Roboto', sans-serif;
}

body{
     overflow-x:hidden;/*oculta la barra de desplazamiento horizontal*/
}

.logo{
    width: 200px;
    height: 150px;
}

.menu{
    background-color: #000000 !important; 
}

.alto{
    height: 500px;
}

/* images para la carta */
.card-img-top{
    width: 100%;
    height: 300px;
}